html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
  }
/* main-content */

.main-content{
    height: 100%; 
    position: relative
}


/* .content {
    height: 100%;
    position: relative;
    padding-top: 7%;
} */
.content {
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden; /* Ensure the content is not visible outside of the container */
}

.background-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the entire container */
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Smooth transition effect */
}

.main-image {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3); /* Add shadow effect */
    filter: blur(7px); /* Apply blur effect */
}

/* logo */

.logo-container{
    width: 202px; 
    height: 180px; 
    left: 102px; 
    top: 126px; 
    position: absolute; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex
}
.logo-background{
    width: 202px; 
    height: 180px; 
    position: relative
}
.background-overlay{
    width: 202px; 
    height: 180px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    opacity: 0.60; 
    background: black; 
    border-radius: 15px
}

.logo-text {
    left: 35px;
    top: 15px;
    position: absolute;
    color: #FFE609;
    font-size: 140px;
    font-family: OCR A Extended;
    font-weight: 400;
    word-wrap: break-word;
}
/* logo end */

/* book */
.book-container{
    width: 400px; 
    height: 497px; 
    left: 1015px; 
    top: 546px; 
    position: absolute; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    border: 4px black solid;
}

.book-background{
    width: 400px; 
    height: 497px; 
    position: relative; 
    opacity: 0.80
}
.book-background-overlay{
    width: 382px; 
    height: 496px; 
    left: 18px; 
    top: 0px; 
    position: absolute; 
    background: black; 
    box-shadow: 8px 0px 4px rgba(0, 0, 0, 0.68)
}
.book-image{
    width: 374px; 
    height: 150px; 
    background-image: url(../images/main/figmabook.jpg); 
    background-size: cover; 
    left: 26px; 
    top: 1px; 
    position: absolute;
}
.book-text{
    width: 348px; 
    left: 35px; 
    top: 212px; 
    position: absolute; 
    text-align: center; 
    color: #FFE609; 
    font-size: 50px; 
    font-family: OCR A Extended; 
    font-weight: 400; 
    word-wrap: break-word
}
.vertical-line{
    width: 26px; 
    height: 496px; 
    left: 0px; 
    top: 1px; 
    position: absolute; 
    background: #232222
}

/* book end */

/* mini-navbar */

.section-links {
    color: white;
    width: 998px;
    height: 86px;
    left: 443px;
    top: 170px;
    position: absolute;
}

.section-background {
    width: 998px;
    height: 86px;
    left: 0px;
    top: 0px;
    position: absolute;
    opacity: 0.70;
    background: black;
    border-radius: 10px;
}

.mini-navbar-background-overlay {
    height: 100%;
    position: absolute;
}

.section-content {
    width: 851px;
    height: 66px;
    left: 59px;
    top: 5px;
    position: absolute;
}

.section-link {
    width: 186px;
    left: 0px;
    top: 0px;
    position: absolute;
    word-wrap: break-word;
    color: white;
    font-size: 24px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400;
    text-decoration: none;
}
#second-part{
    position: absolute;
    top: 3200px;
}
/* mini-navbar end */

.part-three{
    color: black; 
    font-size: 24px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400; 
    word-wrap: break-word;
    width: 259px; 
    height: 52px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    opacity: 0.60; 
    background: #FFE7AA; 
    border-radius: 15px
}

.open-box{
    width: 847px; 
    height: 364px; 
    left: 46px; 
    top: 430px; 
    position: absolute
}
.open-box-bground{
    width: 847px; 
    height: 255px; 
    left: 0px; 
    top: 34px; 
    position: absolute; 
    opacity: 0.70; 
    background: black; 
    border-radius: 15px
}
.open-box-title{
    width: 667.20px; 
    height: 75px; 
    left: 30px; 
    top: 60px; 
    position: absolute; 
    color: white; 
    font-size: 30px; 
    font-family: Noto Sans Armenian; 
    font-weight: 700; 
    word-wrap: break-word
}
.open-box-text{
    width: 786.35px; 
    height: 364px; 
    left: 30px; 
    top: 110px; 
    position: absolute; 
    color: white; 
    font-size: 30px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400; 
    word-wrap: break-word
}
.first-box{
    width: 1466px; 
    height: 898px; 
    left: 0px; 
    top: 0px; 
    position: absolute
}
.first-title-box-bground{
    width: 1040px; 
    height: 202px; 
    left: 90px; 
    top: 0px; 
    position: absolute; 
    border-radius: 15px; 
    background: #5B0E12; 
    border: 1px #FF0000 solid;


}
.first-title-box-title{
    width: 820.53px; 
    left: 180px; 
    top: 13px; 
    position: absolute
}
.first-title{
    color: white; 
    font-size: 32px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400; 
    word-wrap: break-word
}

.first-text{
    color: white; 
    font-size: 20px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400; 
    word-wrap: break-word
}
.image-container{
    height: 898px; 
    padding-bottom: 11px; 
    left: 25px; 
    top: 901px; 
    position: absolute; 
    opacity: 0.30; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex
}
.general-image-container{
    width: 1441px; 
    height: 898px; 
    padding-bottom: 11px; 
    left: 1466px; 
    top: 898px; 
    position: absolute; 
    transform: rotate(-180deg); 
    transform-origin: 0 0; 
    opacity: 0.25; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex
}
.second-box{
    width: 100%; 
    height: 100%; 
    position: relative; 
    top: 2200px; 
    left: 550px; 
    opacity: 0.65
}
.second-title-box-bground{
    width: 633px; 
    left: 0px; 
    top: 24px; 
    position: absolute; 
    text-align: right; 
    border-radius: 15px; 
    background-color: #5B0E12;
    border: 1px #FF0000 solid; 
    padding: 20px 80px;
}
.second-title-box{
    width: 633px; 
    left: 80px; 
    top: 24px; 
    position: absolute; 
    text-align: right; 
    border-radius: 15px; 
    background-color: #5B0E12;
    border: 1px #FF0000 solid; 
    padding: 20px 80px; 
    opacity: 0.65;
}
.second-title{
    color: white; 
    font-size: 28px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400; 
    word-wrap: break-word
}
.second-text{
    color: white; 
    font-size: 16px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400; 
    word-wrap: break-word
}

.third-part{
    width: 1000px; 
    height: 202px; 
    left: 90px; 
    top: 0px; 
    position: absolute; 
    opacity: 0.60; 
    background: #5B0E12; 
    border: 1px #FF0000 solid;
    border-radius: 15px; 
}
.before-comments{
    width: 315px; 
    height: 51px; 
    left: 15%; 
    top: 3000px; 
    position: absolute; 
    padding-left: 660px;
    color: white; 
    font-size: 20px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400; 
    word-wrap: break-word
}
.hover-div{
    position: relative;
    width: 45vh;
    color: white; 
    font-size: 14px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400 ;
    top: 325vh;
    left: 80vh;
}
.hover-div-bg{
    position: absolute; 
    width: 30%; 
    height: 200px; 
    background-color: #5B0E12; 
    padding-top: 10px;
    border: 3.5px white solid; 
    box-shadow : 0px 0px 10px white;
    top: 320vh;
    left: 75vh;
}
.hover-img{
    width: 50px; 
    height: 50px; 
    position: absolute; 
    left: 77%;
    bottom: -11.7vh;
}
.comments-box{
    width: 315px; 
    height: 51px; 
    left: 20%; 
    top: 3020px; 
    position: absolute
}

.light-hover-div{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: -250px;
    background: #0e355c; 
    padding-top: 10px;
    border: 3.5px white solid; 
    box-shadow : 0px 0px 10px white
}

.user-icon{
    width: 44.36px; 
    height: 48.10px; 
    left: 0px; 
    top: 30px; 
    position: absolute; 
    background: #5EA8FF; 
    border-radius: 5px; 
    text-align: center; 
    font-size: 42px;
}

.comments-write-box{
    width: 781.63px; 
    height: 98.50px; 
    left: 6%; 
    top: 100.31px; 
    position: absolute
}
.lesson_page{
    height: 19px; 
    margin-left: 30px; 
    position: absolute; 
    color: white; 
    font-size: 16px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400; 
    word-wrap: break-word;
    text-decoration: none;
}

.user-name:hover {
    text-decoration: underline;
}

/* written comments */

.comm-box{
    width: 100%;
    min-height: 700px;
    max-height: 620px;
    overflow-y: auto;
    margin-left: 25vh;
}
.com-username {
    font-weight: bold;
    margin-right: 10px;
    color: #5EA8FF;
}

.comment-details {
    margin-bottom: 10px;
}

.com-time {
    font-size: 14px;
    color: #777;
}

.com-comment {
    margin-top: 5px;
}

.likes-box{
    display: flex;
}

.likes {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
    margin-right: 10px; 
}



/* statistic */
.statistic_window{
    width: 400px;
    height: 250px;
    background-color: white;
    position: fixed;
    top: 68%;
    left: 70%;
    border-radius: 5px;
    padding: 10px;
}

/* users message to dbase*/
.message_title{
    margin: 10px;
    margin-left: -30px;
    font-size: 20px;
    text-align: center;
    color: white;
}
.message{
    border-radius: 15px;
    padding: 10px;
    margin-left: 12%;
    margin-top: -15px;
}
.statistic_window {
    background-color: #181616;
    padding: 10px;
    opacity: 0.3;
    border: 2px white solid;
    border-radius: 20px;
    transition: opacity 1s ease;
}

.show {
    opacity: 0.9;
}

.statistic_btn{
    margin-top: 10px;
    margin-left: 38%;
    font-size: 18px;
    background-color: #4056A2;
    color: aliceblue;
    border-radius: 7px;
    padding: 5px;
}
.statistic_window_close_btn{
    border: 2px white solid;
    width: 25px;
    border-radius: 50px;
    padding: 5px;
    font-family: monospace;
    position: absolute;
    top: 20px;
    left: 86%;
    background-color:#a43838;
    cursor: pointer;
}

.general-image-container img{
    width: 1441px; 
    height: 887px; 
    box-shadow: 7px 7px 7px; 
    filter: blur(7px)
}

/* lessons */

.content-container{
    width: 1393px; 
    height: 1832px; 
    left: 46px; 
    top: 380px; 
    position: absolute; 
    opacity: 0.70;
}
.lesson-box{
    height:400px;
    max-height: 400px;
    overflow-y: auto; 
    font-size:16px;
    padding:10px;
    position: relative; 
    background: black; 
    color:white; 
    border-radius: 15px;
    left: 2.5%; 
    margin-left: 5px;
    margin-bottom: 7%; 
    padding-top:30px;
    
}
.fa-comment-dots{
    color: #B197FC; 
    font-size:30px;
    padding-top: 20px;
}
.lesson-box2{
    height:400px;
    max-height: 400px;
    overflow-y: auto; 
    font-size:16px;
    padding:10px;
    position: relative; 
    background: black; 
    color:white; 
    border-radius: 15px;
    left: 2.5%; 
    margin-left: 5px;
    margin-bottom: 7%; 
    padding-top:30px;
}

.lessonTitle{
    text-decoration: none; 
    color:white;
}
.lessonTitle:hover{
    text-decoration: underline;
}

.lesson-title{
    height: 67px;
    position: absolute; 
    color: #FFE7AA; 
    margin-left: 3.5%; 
    font-size: 24px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400;
    word-wrap: break-word; 
    text-align: center; 
    background-color: black; 
    border:2px white solid;
    padding-top: 5px; 
    border-radius: 10px
}

.lesson-title2{
    height: 67px;
    position: absolute; 
    color: #FFE7AA; 
    margin-left: 3.5%; 
    font-size: 24px; 
    font-family: Noto Sans Armenian; 
    font-weight: 400;
    word-wrap: break-word; 
    text-align: center; 
    background-color: black; 
    border:2px white solid;
    padding-top: 5px; 
    border-radius: 10px;
    margin-top: 10%;

}


