.user{
    width: 250px;
    /* background-color: aliceblue; */
    position: absolute;
    top: 150px;
    left: 25%;
}
.img-box img{
    width: 110px;
}
.user-name{
    width: 150px;
    position: absolute;
    top: 110px;
    left: -7%;
    color: white;
    font-size: 18px;
    text-align: center;
}
.user-name:hover {
    text-decoration: underline;
}
/* .write-user{
    position: absolute;
    top: 150%;
    left: 6%;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    color: white;
    background-color: green;
} */
.min-navbar{
    width: 500px;
    height: 100px;
    /* background-color: aliceblue; */
    position: absolute;
    top: 150px;
    left: 39%;

}