    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-weight: 300;
      font-size: 12px;
      line-height: 30px;
      color: #272727;
      background-color: rgb(30, 30, 30);
      font-family: Noto Sans Armenian;
      text-align: center;
    }

    .container {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      position: relative;
    }

    #contact input {
      font: 400 12px/16px;
      width: 100%;
      border: 1px solid #CCC;
      background: #FFF;
      border-radius: 1vh;
      margin: 10 5px;
      padding: 10px;
    }

    h1 {
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 400;
      word-wrap: break-word;
    }

    #contact {
      background: #F9F9F9;
      border-radius: 4vh;
      padding: 25px;
      margin: 50px 0;
    }


    fieldset {
      border: medium none !important;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
    }

    textarea {
      height: 100px;
      max-width: 100%;
      resize: none;
      width: 100%;
    }

    button {
      cursor: pointer;
      width: 100%;
      background-color: #28B940;
      border-radius:1vh;
      color:white;
      font-size: 20px;
      font-family: Noto Sans Armenian;
      font-weight: 400; 
      word-wrap: break-word;
      padding: 0 7px 4px 6px;
    }

    button:hover {
      background-color: rgb(15, 95, 42);
    }

    .box-shadow{
      width: 2677.87px; 
      height: 800px; 
      left: -365.87px; 
      top: -589.27px; 
      position: absolute
  }
  .top-left-yellow{
      width: 1415.30px; 
      height: 935.01px; 
      left: 283.14px; 
      top: 2055.88px; 
      position: absolute; 
      transform: rotate(-94.26deg); 
      transform-origin: 0 0; 
      background: #17323D; 
      box-shadow: 250px 250px 250px; 
      filter: blur(250px)
  }
  .top-left-gray{
      width: 968.50px; 
      height: 1190.37px; 
      left: 1057.33px; 
      top: 0px; 
      position: absolute;
      transform: rotate(59.48deg); 
      transform-origin: 0 0; 
      background: black; 
      box-shadow: 250px 250px 250px; 
      filter: blur(250px)
  }
  .top-right-yellow{
      width: 664.68px; 
      height: 1195.88px; 
      left: 2207.60px; 
      top: 417.91px; 
      position: absolute; 
      transform: rotate(91.53deg); 
      transform-origin: 0 0; 
      background: #17323D; 
      box-shadow: 250px 250px 250px; 
      filter: blur(250px)
  }
  .top-right-gray{
      width: 1309.17px; 
      height: 1802.50px; 
      left: 2012.95px; 
      top: 299.47px; 
      position: absolute; 
      transform: rotate(59.48deg); 
      transform-origin: 0 0; 
      background: #080707; 
      box-shadow: 250px 250px 250px; 
      filter: blur(250px)
  }